
body{
    /* background-color:#FEECE2; */



      background-image: URL('/wwwroot/Images/bg-light.jpg');
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.board{
   
      background-color: #FEECE2;
}


.swim-lane{
    background:#b5828cdf;
    box-shadow: 0px 0px 10px rgb(9, 0, 0);
}
.task{
    background-color: #f2e3db;
}




.modal-content{
    background-color: #f5c1c19f;
    box-shadow: 0px 5px 15px  #ffffffa0;
    border:2px, solid;
    border-color: black;
}
.modal-content button{
    box-shadow: 1px 1px 5px  #2b1010a0;
    background-color: #7C444F;
    color:aliceblue;
    
}
.modal-content button:hover{
    background-color: #FFCDB2;
    color: #7C444F;
    font-weight: bold;
}



/* drop down menu*/

.dropdown-menu{
    background-color: #7C444F;
    color: aliceblue;
}
.dropdown-menu button{
    color: #fffffe;
    background-color: #622733;
}






input[type=text]:focus {
  background-color: rgb(230, 182, 173);
}





/* Register page */


.button-container{

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

   
}

.button-container button{
    background-color: #7C444F;
}
.container ul li input{

    background-color: #FFCDB2;
}

.container ul li button{

    background-color: #7C444F;
    color:white;
}